body {
  font-family: 'courier new', monospace;
  background-color: #ffff0006;
  color: #333333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #ff00ff;
  margin-bottom: 20px;
}

.lozenge {
  background-color: #00ffff80;
  border: 1px solid #00ffffc0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

div.lozenge {
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

li {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li > pre {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0;
  flex-grow: 1;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}