<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <p>
      <div class="sign-in-form">
        <form>
          <input type="email">
          <style>
              .container{
                  margin-top: 10%;
                  margin-left: 40%;
                  width: 50%;
                  border: 2px solid black;
              }
              .container input{
                  margin: 5%;
                  width: 80%;
              }
              .container button{
                  margin: 5%;
                  width: 80%;
              }
          </style>
        </form>
      </div>
    </p>
  </body>
</html>
